html {
    /*background-image: url(Images/Viego_0.jpg);*/
    margin: 0px;
    background: linear-gradient(to bottom, #006666 0%, #339966 100%);
    background-attachment: fixed;
    font-size: 24px;
}

#rightdiv {
    background-image: url(Images/Viego_0.jpg);
    width: 20%;
    margin: auto;
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 0px;
    right: 0%;
    background-size: cover;
    background-position: 650px;

}

#leftdiv {
    background-image: url(Images/Thresh_0.jpg);
    width: 20%;
    margin: auto;
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 830px;

}

#centerdiv {
    /*position: absolute;*/
    margin-left: 20%;
    margin-right 20%;
    width: 80%;
    display: inline-block;
}

.links {
    text-decoration: none;
    color: black;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 20px;


}

.flexbox {
    display:flex;
    justify-content: center;
flex-wrap: wrap;

}

.flexitem {
    flex: auto;
    text-align: center;

}
